<!DOCTYPE html>
<html>
<head>
	<title>Tenderhelp Task</title>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

	<script src="/static/js/script.js"></script>
</head>
<body>

<div class="container">
	<br><br><br><br>
	<form id="form" class="form-inline">
	  <div class="form-group">
	    <input type="text" class="form-control" id="queryData" name="query"  placeholder="Query">
	  </div>	 
	  <button id="rmspRequest" type="submit" class="btn btn-default">Send request to RMSP</button>
	  <button id="checkData" type="submit" class="btn btn-default">Check previous requests</button>
	</form>
	<br>
	<div id="successAlert" class="alert alert-success" role="alert" style="display:none;"></div>
	<div id="errorAlert" class="alert alert-danger" role="alert" style="display:none;"></div>
	
	<div id="lastRequest" class="alert alert-danger" role="alert" style="display:none;"></div>
	
	<div id="previousRequests" class="alert" role="alert" style="display:none;">
		<ul>			
		
		</ul>
	</div>
</div>


</body>
</html>